<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>

<p>Note : <%= @restaurant.mark %></p>

<p>Classé <%= @restaurant.rank %> sur <%= Restaurant.count %></p>

<%= image_tag("restaurants/" + @restaurant.name + ".jpg") %>
