<%= form_with(model: country) do |form| %>
  <div class="field">
    <%= form.label :name, "Nom" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :touristsCount, "Nombre de touristes" %>
    <%= form.text_field :touristsCount %>
  </div>

  <div class="field">
    <%= form.label :image, "Image" %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
     <%= form.submit "Enregistrer" %>
  </div>
  <div class="radio_button">
  <p>Ajouter une ville a ce pays</p>
  <%= radio_button_tag(:age, "child")%>

  </div>
<% end %>

