<%= form_with(model: country) do |form| %>
  <div class="field">
    <div class="field">
      <%= form.label :name, "Nom" %>
	    <%= form.text_field :name %>
    </div>
    <div class="field">
      <%= form.label :description, "Description" %>
      <%= form.text_field :description %>
    </div>
    <div class="field">
      <%= form.label :touristsCount, "Nombre de touristes" %>
      <%= form.text_field :touristsCount %>
    </div>
    <div class="field">
      <%= form.label :image, "Image" %>
      <%= form.file_field :image %>
    </div>
  </div>

  <div class="actions">
	<%= form.submit "Enregistrer" %>
  </div>
<% end %>
