<p class='pays'><%= @country.name %></p>
<%= link_to 'Modifier', edit_country_path(@country) %></br>
<%#= link_to 'Supprimer des villes', deletecity_country_path(@cities) %></br>

<%= image_tag("countries/" + @country.name + ".jpg", height: '200px') %>


<p><%= @country.touristsCount %> touristes</p>
<p><%= @country.description %></p>

<% @cities.each do |city| %>
	<div class='image'>
		<%= link_to image_tag("cities/" + city.name + ".jpg", height: "200px"), city %>
		<text><%= city.name %></text>
	</div>
<% end %>

<p>
  <%= link_to 'Ajouter une ville', new_city_path(@country) %>
</p>
