<h1>Affichage d'un pays</h1>

<p>Nom : <%= @country.name %></p>
<p>Nombre de Touristes : <%= @country.touristsCount %></p>
<p>Description : <%= @country.description %></p>

<h1>Liste des villes :</h1>

<% @cities.each do |city| %>
	<% if @country.id == city.country %>
		</br><text size='50px'><%= city.name %></text></br>
		<%= link_to image_tag(city.name + ".jpg", width: '20%'), city %>
	<% end %>
<% end %>
