<%= form_with(model: city) do |form| %>
	<div class="field">
	  <%= form.label :name, "Nom" %>
	  <%= form.text_field :name %>
	</div>

	<div class="field">
	  <%= form.label :description, "Description" %>
	  <%= form.text_field :description %>
	</div>
	<div class="field">
		<%= form.label :rank, "Classement" %>
		<%= form.text_field :rank %>
	</div>

	<div class="field">
		<%= form.label :image, "Image" %>
    <%= form.file_field :image %>
	</div>

  <div class="actions">
    <%= form.submit "Enregistrer" %>
  </div>
<% end %>
