<p class='pays'><%= link_to @country.name, @country %></p>

<h3 class='ville'><%= @city.name %></h3>

<%= link_to "Modifier", edit_city_path(@city) %>

<%=  %>

<p>Classé <%= @city.rank %> sur <%= City.count %></p>
<p><%= @city.description %></p>

<%= image_tag("cities/" + @city.name + ".jpg") %>

<h3>Restaurants</h3>

<% @restaurants.each do |restaurant| %>
  <%= link_to image_tag("restaurants/" + restaurant.name + ".jpg", height: '200px'), restaurant %>
<% end %>

<h3>Hotels</h3>

<% @hotels.each do |hotel| %>
  <%= link_to image_tag("hotels/" + hotel.name + ".jpg", height: '200px'), hotel %>
<% end %>

<h3>Activités</h3>

<% @activities.each do |activity| %>
  <%= link_to image_tag("activities/" + activity.name + ".jpg", height: '200px'), activity %>
<% end %>
