<p class='pays'><%= link_to @country.name, @country %></p>

<p class='ville'><%= @city.name %></h3>
<p>Classé <%= @city.rank %> sur <%= City.count %></p>
<p><%= @city.description %></p>

<%= image_tag("cities/" + @city.name + ".jpg") %>
