<h1><%= @activity.name %></h1>

<p><%= @activity.address %></p>

<p>Note : <%= @activity.rank %> sur <%= Activity.count %></p>

<%= image_tag("activities/" + @activity.name + ".jpg") %></br>

<%= link_to "Ajouter un commentaire", new_activity_opinions_path(@activity.id) %></br></br>

<% @activityOpinions.each do |opinion| %>
  Note: <%= opinion.mark %>/5</br>
  "<%= opinion.opinion %>"</br></br>
<% end %>
