<!DOCTYPE html>
<html>
  <head>
    <title>TravelAdvisor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<h2>TravelAdvisor</h2>

	<%= link_to %>
    <%= yield %>
  </body>
</html>
