<!DOCTYPE html>
<html>
  <head>
    <title>TravelAdvisor</title>
    <%= csrf_meta_tags %>
  <h2><center>TravelAdvisor</center></h2>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= link_to 'Listes des Pays', countries_path %> 
  </head>

  <body>


	<%= link_to %>
    <%= yield %>
  </body>
</html>
